.funfact-wrapper {
  @include flex(space-evenly, "", wrap);
}
.funfact-top {
  @include flex(center, center);
  margin-top: 127px;
  .funfact-top-left {
    @include text(Noto Sans SC, normal, 16px, 23px, $content-black);
  }
  .funfact-top-right {
    width: 127px;
    margin-left: 150px;
    @include text(Noto Serif SC, normal, 36px, 52px, $content-black);
  }
}
.about-funfact-item {
  margin: 50px auto;
}
.about-subtitle {
  @include text(Noto Sans SC, 500, 16px, 23px, $content-black);
  text-align: center;
  margin-top: 77px;
}
.about-text {
  @include text(Noto Sans SC, 300, 16px, 28px, $content-black);
  text-align: right;
}
// .img {
//   border: 1px solid #fff;
//   border-radius: 4px;
//   padding: 5px;
//   width: 150px;
// }
.about-displaybox {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 85px;
  margin-bottom: 39px;
}
.about-intro-card-wrapper {
  display: flex;
  margin: 0 auto;
  .about-intro-card-right {
    width: 635px;
    height: 395px;
    margin-left: 111px;
  }
  .about-intro-card-left {
    width: 554px;
    height: 395px;
    .about-intro-card-title {
      font-family: Noto Serif SC;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      color: $content-black;
    }
    .about-intro-card-desc {
      font-family: Noto Sans SC;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 36px;
      color: $content-black;
    }
  }
}

.about-timeline-icon {
  background: rgb(255, 255, 255);
  color: #ff4f00;
  cursor: pointer;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #f13c20, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 2px 0 2px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon {
  width: 30px;
  height: 30px;
  left: 6px;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    
  }
}

.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #f13c20;
}
.timeline-element-wrapper{
  display: flex;
  justify-content: space-between;

}
.timeline-text-wrapper {
  text-align: right;
  margin-left: 30px;
}
.timeline-time {
  @include text(Noto Sans SC, 500, 16px, 23px, $content-darkGrey);
}
.timeline-title {
  @include text(Noto Sans SC, 500, 22px, 32px, $content-black);
  margin-top: 5px;
}
.timeline-desc {
  @include text(Noto Sans SC, 300, 16px, 28px, $content-black);
  margin-top: 10px;
}

.MuiTab-wrapper {
  align-items: baseline;
}

.timeline-wrapper{
  background: $background-faint-orange;
}