.funfact-left-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.about-subtitle {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-top: 77px;
}
.about-text {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  font-feature-settings: "liga" off;
  color: $content-black;
}
.img {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.about-displaybox {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 85px;
  margin-bottom: 237px;
}
.about-intro-card-wrapper {
  display: flex;
  margin: 0 auto;
  .about-intro-card-right {
    width: 635px;
    height: 395px;
    margin-left: 111px;
  }
  .about-intro-card-left {
    width: 554px;
    height: 395px;
    .about-intro-card-title {
      font-family: Noto Serif SC;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      color: $content-black;
    }
    .about-intro-card-desc {
      font-family: Noto Sans SC;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 36px;
      color: $content-black;
    }
  }
}

.about-timeline-icon {
  background: rgb(255, 255, 255);
  color: #ff4f00;
  cursor: pointer;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #f13c20, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 2px 0 2px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon svg {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
  }
}
