.home-info-wrapper {
  height: 477px;
  width: 356px;
  margin-left: 31px;
  .home-info-top {
    font-family: Noto Serif SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #181616;
    margin-top: 98px;
  }
  .home-info-body {
    display: flex;
  }
  .home-info-desc {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #181616;
  }
  .desc-right {
    margin-left: 10px;
  }
  .home-info-special {
    font-family: Noto Serif SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #181616;
    margin-left: 10px;
  }
  .home-info-button {
    border-radius: 3px !important;
    width: 114px;
    height: 37px;
  }
  .home-info-button-left {
    font-family: Noto Sans SC;
    font-size: 18px;
    background: $brand-red;
  }
  .home-info-button-right {
    font-family: Noto Sans SC;
    color: $brand-red;
    border-color: $brand-red;
    font-size: 18px;
    margin-left: 21px;
  }
}



.pageinfo-background {
  height: 296px;
  background: #f8f6f3;
  overflow: hidden;
}
.pageinfo-title {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 79px;
  text-align: center;
  margin-top: 38px;
  color: #000000;
}
.pageinfo-wrapper {
  width: 569px;
  height: 101px;
  margin: 0 auto;
}
.pageinfo-desc {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}