.home-info-wrapper {
  height: 477px;
  // width: 356px;
  margin-left: 31px;
  .home-info-top {
    @include text(Noto Serif SC, normal, 36px, 52px, $content-black);
    margin-top: 98px;
  }
  .home-info-body {
    display: flex;
    align-items: baseline;
  }
  .home-info-desc {
    @include text(Noto Sans SC, 300, 18px, 36px, $content-black);
  }
  .desc-right {
    margin-left: 10px;
  }
  .home-info-number {
    text-align: center;
    @include text(Noto Serif SC, normal, 36px, 19px, $content-black);
    margin: 0 10px;
  }
  .home-info-button {
    border-radius: 3px !important;
    width: 114px;
    height: 37px;
  }
  .home-info-button-left {
    background: $brand-red !important;
  }
  .home-info-button-right {
    margin-left: 21px;
  }
}

.pageinfo-background {
  height: 296px;
  background: #f8f6f3;
  overflow: hidden;
}
.pageinfo-title {
  @include text(Noto Serif SC, 600, 55px, 79px, black);
  text-align: center;
  margin-top: 38px;
}
.pageinfo-wrapper {
  width: 569px;
  height: 101px;
  margin: 0 auto;
}
.pageinfo-desc {
  @include text(Noto Sans SC, 300, 16px, 28px, black);
  text-align: center;
}
