.play-head-wrapper {
  height: 800px;
  .play-infocard-wrapper {
    max-width: 1300px;
  }
}
.play-text-box-lower {
  @include flex(space-between, "", wrap);
  @include text(Noto Sans SC, 300, 1rem, 28px, $content-black);
}
.play-text-box {
  // margin: 0 auto;
  max-width: 1078px;
  @media screen and(max-width:1060px) {
    width: 80%;
  }
  .play-text-title {
    margin-top: 100px;
    @include text(Noto Sans SC, 500, 1rem, 23px, $content-darkGrey)
  }
}
.play-text-box-right {
  width: 524px;
  @media screen and(max-width:1060px) {
    width: 100%;
  }
}
.play-text-box-left {
  width: 524px;
  @media screen and(max-width:1060px) {
    width: 100%;
  }
}

.play-video-box {
  width: 856px;
  margin: 138px auto;
  .play-video-title {
    margin-bottom: 32px;
    @include text(Noto Sans SC, 500, 1rem, 23px, $content-darkGrey);
  }
}

.play-info-card {
  margin-top: 132px;
  .play-page-content-wrapper {
    display: flex;
  }
  .play-info-title {
    @include text(Noto Serif SC, 600, 55px, 79px, $content-white);
  }
  .play-info-left {
    @include text(Noto Sans SC, 500, 22px, 32px, $content-white);

    margin-right: 70px;
    .play-info-day {
      margin-top: 23.3px;
    }
    .play-info-place {
      margin-top: 50px;
    }
  }
  .play-page-button {
    margin-top: 18px;
    display: block;
  }
}

.ant-tabs-tab-btn {
  font-family: Noto Sans SC;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: $content-black;
}

.play-department-board-section {
  margin-bottom: 12px;
  @include text(Noto Sans SC, 500, 16px, 23px, $content-black);
}
.play-department-board-wrapper {
  @include flex(space-between, "", wrap);
  margin-top: 40px;
}
.play-department-board {
  .play-department-board-title {
    @include text(Noto Sans SC, 500, 1rem, 60px, $content-darkGrey);
  }
  .play-department-board-item-wrapper {
    width: 260px;
    @include flex(space-between, "", wrap);
  }
  .play-department-board-name {
    @include text(Noto Sans SC, 300, 1rem, 28px, $brand-red);
    text-decoration-line: underline;
    cursor: pointer;
  }
  .play-department-board-job {
    @include text(Noto Sans SC, 300, 1rem, 28px, $content-black);
    width: 150px;
    text-align: left;
  }
}
.play-department-arrow {
  cursor: pointer;
  align-self: center;
}
.play-page-tab-wrapper {
  margin-top: 101px;
}
.photoboard-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.photoboard-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 65px;
  margin-bottom: 184px;
}
.photoboard-item {
  margin-right: 31px;
  cursor: pointer;
  width: 303px;
  height: auto;
  transition: 1s ease;
}

.bilibili-link {
  justify-content: space-around;
  align-items: left;
  font-family: Noto Sans SC;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #000000;
  text-decoration: underline;
  &:hover {
    color: $brand-red;
    text-decoration: underline;
  }
}

.one-line {
  background: #bdbdbd;
  height: 1px;
  max-width: 1300px;
}
.be-center {
  margin: 0 auto;
}
.margin-left-70 {
  margin-left: 70px;
}

.play-ellipse {
  width: 13px;
  height: 13px;
  color: $content-white;
  box-sizing: border-box;
  cursor: pointer;
}

.play-ellipse-wrapper {
  width: fit-content;
  margin: 0 auto;
  margin-top: 63px;

}
.play-photo-ellipse-wrapper {
  @extend .play-ellipse-wrapper;
}

.player {
  width: 857px;
  height: 556px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: $brand-red;
}
.ant-tabs-ink-bar {
  position: absolute;
  background: $brand-red;
  pointer-events: none;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: $brand-red;
}
