.play-head-wrapper {
  height: 670px;
  .play-infocard-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.play-text-box-lower {
  @include flex(space-between,'',wrap);
  @include text(Noto Sans SC, lighter, 1rem, 28px, $content-black);
  
}
.play-text-box {
  margin: 0 auto;
  color: black;
  max-width: 1078px;
  @media screen and(max-width:1060px) {
    width: 80%;
  }
  .play-text-title {
    margin-top: 100px;
    font-weight: 1000;
    line-height: 23px;
    font-size: 1rem;
  }
}
.play-text-box-right {
  width: 524px;
  @media screen and(max-width:1060px) {
    width: 100%;
  }
}
.play-text-box-left {
  width: 524px;
  @media screen and(max-width:1060px) {
    width: 100%;
  }
}

.play-video-box {
  width: 856px;
  margin: 138px auto;
  .play-video-title {
    margin-bottom: 32px;
    @include text(Noto Sans SC, 500, 1rem, 23px, $content-black);
  }
}

.play-info-card {
  margin-left: 111px;
  margin-top: 132px;
  .play-page-content-wrapper {
    display: flex;
  }
  .play-info-title {
    @include text(Noto Serif SC, 600, 55px, 79px, $content-white);
  }
  .play-info-left {
    @include text(Noto Sans SC, 500, 22px, 32px, $content-white);

    margin-right: 70px;
    .play-info-day {
      margin-top: 23.3px;
    }
    .play-info-place {
      margin-top: 50px;
    }
  }
  .play-page-button {
    width: 114px;
    height: 43px;
    display: block;
    margin-top: 18px;
  }
  .play-page-button-1 {
    background: $content-white;
    border: 1px solid #8e8e8e;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .play-page-button-2 {
    background: $brand-red;
    border-radius: 3px;
    color: $content-white;
    border: $brand-red;
  }

  .play-page-button-3 {
    background: $content-white;
    border: 1px solid $brand-red;
    box-sizing: border-box;
    border-radius: 3px;
    color: $brand-red;
  }
}

.ant-tabs-tab-btn {
  font-family: Noto Sans SC;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: $content-black;
}

.play-department-board-section {
  margin-bottom: 30px;
  @include text(Noto Sans SC, 500, 16px, 23px, $content-black);
}
.play-department-board-wrapper {
  @include flex(space-between,'',wrap);
  margin-top: 40px;
}
.play-department-board {
  .play-department-board-title {
    @include text(Noto Sans SC, 500, 20px, 29px, $content-darkGrey);
  }
  .play-department-board-item-wrapper {
    width: 260px;
    @include flex(space-between, "", wrap);
  }
  .play-department-board-name {
    @include text(Noto Sans SC, lighter, 1rem, 23px, $call-out-orange);
    text-decoration-line: underline;
    cursor: pointer;
  }
  .play-department-board-job {
    width: 150px;
    text-align: left;
  }
}
.play-department-arrow {
  cursor: pointer;
  align-self: center;
}
.play-page-tab-wrapper {
  margin-top: 101px;
}
.photoboard-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.photoboard-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 65px;
  margin-bottom: 184px;

}
.photoboard-item {
  margin-right: 31px;
  background: black;
  width: 303px;
  height: 224px;
  transition: 1s ease;
}

.one-line {
  background: #bdbdbd;
  height: 1px;
  max-width: 1440px;
}
.be-center {
  margin: 0 auto;
}
.margin-left-70 {
  margin-left: 70px;
}

.play-ellipse {
  width: 13px;
  height: 13px;
  color: $content-white;
  box-sizing: border-box;
  cursor: pointer;
}

.play-ellipse-wrapper {
  width: fit-content;
  margin: 0 auto;
}
.play-photo-ellipse-wrapper{
  @extend .play-ellipse-wrapper;
  margin-top: 63px;
}

.player{
  width: 857px;
  height: 556px;
}