.info-card-wrapper {
  float: left;
  width: 492px;
  margin-right: 1.4rem;
  margin-left: 1.4rem;
}
.member-content {
  @include page-content
}
.member-top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.member-display-wraper {
  overflow: hidden;
  width: calc(90.3% + 2.8rem);

}
.info-button {
  display: block;
  height: 43px;
  width: 203px;
  margin: 0 auto;
  margin-top: 30px;
}

.member-card-wrapper {
  float: left;
}
.member-card-wrapper-top {
  width: 60%;
}


.member-page-pre-display {
  margin: 0 auto;
  display: flex;
  margin-top: 46px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.member-select {
  width: 192px;
  // height: 45px;
}

.member-select-right {
  margin-left: 30px;
}
