.info-card-wrapper {
  float: left;
  width: 492px;
  margin-right: 1.4rem;
  margin-left: 1.4rem;
}
.member-content {
  @include page-content;
}
.member-top-content {
  @include flex(center, center, "");
  flex-direction: column;
  @include shrink-content;
}
.member-display-wraper {
  overflow: hidden;

  width: calc(90.3% + 2.8rem);
  @media screen and(max-width:1440px) {
    width: auto;
  }
}
.member-card-content {
  display: flex;
  flex-wrap: wrap;
}
.info-button {
  display: block;
  height: 43px;
  width: 203px;
  margin: 0 auto;
  margin-top: 30px;
}

.member-card-wrapper {
  float: left;
}
.member-card-wrapper-top {
  width: 60%;
}

.member-page-pre-display {
  margin: 0 auto;
  margin-top: 46px;
  @include flex(space-around, "", wrap);
}

.ant-back-top {
  bottom: 0;
  top: 200px;
}

.member-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.member-select-wrapper {
  margin-left: 70px;
  margin-top: 78px;
  margin-bottom: 74px;
  .member-select {
    width: 192px;
  }

  .member-select-right {
    margin-left: 30px;
    @extend .member-select;
  }
}

.member-mark-text {
  @include text(Noto Sans SC, 500, 16px, 23px, $content-black);
}

.load-more {
  cursor: pointer;
  @include text(Noto Sans SC, 300, 16px, 23px, $brand-red);
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector{
  border-color: $brand-red;
}
.ant-select:not(.ant-select-disabled):focus .ant-select-selector{
  border-color: $brand-red;
}
.ant-select-open{
  border-color: $brand-red;
}