.info-card-wrapper {
  float: left;
  width: 492px;
  margin-right: 47px;
}

.info-button {
  display: block;
  height: 43px;
  width: 203px;
  margin: 0 auto;
  margin-top: 30px;
}
.member-display-wraper{
  // width: 1440px;
  // width: 100%;
  // overflow: visible;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content:space-evenly;
}
.member-card-wrapper{
  float: left;
}
.member-card-wrapper-top{
  width: 60%;
}
.member-card-wrapper-top, .member-card-wrapper-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
}

.member-page-pre-display{
  margin: 0 auto;
  display: flex;
  margin-top: 46px;
  justify-content:space-around;
  flex-wrap: wrap;
}

.member-select{
  width: 192px;
  // height: 45px;
}

.member-select-right{
  margin-left: 30px;
}