.popup-wrapper {
  width: 953px;
  background: #f8f6f3;
  overflow: auto;
  max-height: 95vh;
  border-radius: 3px;
}
.popup-close{
  cursor: pointer;
  position: absolute;
  top:55px;
  right: 65px;
}
.popup-lower-content-wrapper {
  width: 873px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  border: 1px solid #c62127;
  box-sizing: border-box;
  background: white;
  border-radius: 3px;
  margin-bottom: 75px;
  .popup-img {
    width: 380px;
    height: 300px;
    position: absolute;
    top: -179px;
    left: 32px;
  }
  .popup-desc {
    width: 300px;
    word-wrap: break-word;
    font-family: Noto Serif SC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: $content-black;
  }
}

.popup-lower-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 34px;
}

.popup-name {
  text-align: right;
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
  padding-top: 135px;
  margin-bottom: 81px;
  margin-right: 311px;
}
.popup-playlist {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.popup-play-jobs-wrapper {
  display: flex;
  width: 15.625rem;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: 20px;
  text-align: right;
}
.popup-playlist-item {
  margin-bottom: 22px;
}
.popup-playlist-title {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: abosolute;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


.popup-job-list-wrapper{
  width: 340px;
  margin-bottom: 10px;
}
.popup-job-list-title{
  @include label;
  color: #000000;
}
.popup-job-list-text{
  @include little-short;
  color: #000000;
  .popup-job-list-item{
    margin-top: 1.7rem;
    display: flex;
    align-items: flex-start;
    .popup-job-list-words{
      //align to the top of word
      margin-top: -5px;
    }
  }
}

.popup-lower-content-depart{
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 30px;
}

.popup-depart-recruit{
  @include little-short;
  font-weight: bolder;
  margin:0 auto;
  margin-top: 34px;
  margin-left: 483px;
  color: #000000;
}