.popup-wrapper {
  width: 953px;
  // height: 914px;
  background: #f8f6f3;
}

.popup-lower-content-wrapper {
  width: 873px;
  // height: 557px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 40px;
  border: 1px solid #c62127;
  box-sizing: border-box;
  background: white;
  border-radius: 3px;
  .popup-img {
    width: 380px;
    height: 300px;
    position: absolute;
    top: -179px;
    left: 32px;
  }
  .popup-desc {
    width: 300px;
    word-wrap: break-word;
    font-family: Noto Serif SC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #181616;
    // padding-top: 100px;
  }
}

.popup-lower-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 34px;

}

.popup-name {
  text-align: right;
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  color: #000000;
  padding-top: 135px;
  margin-bottom: 81px;
  margin-right: 311px;
}
.popup-playlist {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.popup-play-jobs-wrapper {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: 20px;
  text-align: right;
}
.popup-playlist-item {
  margin-bottom: 22px;
}
.popup-playlist-title {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
