@mixin box-center {
  margin: 0 auto;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin flex($justify-content, $align-items:stretch,$wrap:nowrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}
@mixin shrink-content {
  width: 1440px;
  @media screen and(max-width:1440px) {
    width: 100%;
  }
}
@mixin page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin text($font-family, $font-weight, $font-size, $line-height, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
@mixin title-1 {
  //styleName: 标题1
  font-family: Noto Serif SC;
  font-size: 55px;
  font-style: normal;
  font-weight: bolder;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
@mixin title-2 {
  font-family: Noto Serif SC;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  color: $content-black;
}
@mixin title-3 {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #c4c4c4;
}
@mixin title-4 {
  //styleName: 标题4;
  font-family: Noto Sans SC;
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: $content-black;
}
@mixin label {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
@mixin little-long {
  //styleName: 小字_长文;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
  color: #000000;
}
@mixin little-short {
  //styleName: 小字_短;
  @include text(Noto Sans SC, 300, 1rem, 24px, '');
  letter-spacing: 0em;
  text-align: left;
}
@mixin primary-button {
  @include text(Noto Sans SC, 300, 18px, 36px, $content-white);
  text-align: center;
  border: 1px solid $brand-red;
  box-sizing: border-box;
  background: $brand-red !important;
  border-radius: 3px;
  width: 114px;
  height: 43px;
}

@mixin secondary-button {
  width: 114px;
  height: 43px;
  background: $content-white;
  border: 1px solid $brand-red;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  @include text(Noto Sans SC, 300, 18px, 36px, $brand-red);

}
