$header-height: 80px !default;




$member-card-height: 358px !default;
$member-card-width: 222px !default;
$member-card-padding-x: 15px !default;




$theme-yellow: #FFE600 !default;
$brand-red: #C62127 !default;
$call-out-orange: #F13C20 !default;
$content-black: #181616 !default;
$content-white:#FFFFFF !default;
$background-faint-orange:#F8F6F3 !default;
$content-darkGrey:#545454 !default;
$light-gray:#8E8E8E !default;
$lightest-gray:#BDBDBD !default;