$header-height: 80px !default;

$member-card-height: 358px !default;
$member-card-width: 222px !default;
$member-card-padding-x: 15px !default;

$theme-yellow: #ffe600 !default;
$brand-red: #c62127 !default;
$call-out-orange: #f13c20 !default;
$content-black: #181616 !default;
$content-white: #ffffff !default;
$background-faint-orange: #f8f6f3 !default;
$content-darkGrey: #545454 !default;
$light-gray: #8e8e8e !default;
$lightest-gray: #bdbdbd !default;

