/*
 * @Author: Chengxu Bian 
 * @Date: 2020-07-12 16:17:16 
 * @Last Modified by:   Chengxu Bian 
 * @Last Modified time: 2020-07-12 16:17:16 
 */
@font-face {
  font-family: Noto Sans SC;
  src: url("../assets/NotoSansSC-Regular.otf");
}
@font-face {
  font-family: "Noto Serif SC";
  src: url("../assets/NotoSerifSC-Regular.otf");
}
@import "~antd/dist/antd.css";
@import "./variables";
@import "./normalize";
@import "./mixins";

@import "../components/Header/style";
@import "../components/Cards/style";
@import "../components/Carousel/style";
@import "../components/Information/style";
@import "../components/Footer/style";
@import "../components/PopUp/style";
@import "../components/Funfact/style";

@import "../pages/Home/style";
@import "../pages/Member/style";
@import "../pages/About/style";
@import "../pages/Play/style";
@import "../pages/Join/style";