.home-displaybox {
  font-family: Noto Serif SC;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  word-break: normal;
  justify-content: center;
  align-items: center;
  padding-top: 465px;
  padding-bottom: 233px;
  @media screen and(max-width:768px) {
    padding-top: 15rem;
  }
  @media screen and(max-width:530px) {
    padding-top: 1.5rem;
  }
}
.home-header-trans{
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}
.home-display-box-img {
  width: 25.8125rem;
  height: 16.375rem;
}

.home-plays-display {
  height: 457px;
  text-align: center;
  background: #fffbf7;
  .home-display-content {
    display: flex;
    width: 1124px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }
  .home-plays-display-title {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #545454;
    margin-bottom: 37px;
    // margin-top: 30px;
  }
}
.home-about-display {
  display: flex;
  flex-direction: column;
}
.home-about-card-container {
  width: 1124px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.home-content {
  font-family: Noto Serif SC;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
.carousel-left-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.introcard {
  
  position: absolute;
  background: rgba(248, 246, 243, 0.7);
  top: -200px;
  width: 32.75rem;
  height: 25.25rem;
  @media screen and(max-width:530px) {
    display: none;
  }
  .introcard-content {
    background: white;
    opacity: 1;
    border: 1px solid $brand-red;
    box-sizing: border-box;
    width: 28rem;
    height: 20.5rem;
    margin: 38px auto;
    text-align: center;
    .home-intro-title {
      font-family: "Noto Serif SC";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 52px;
      color: $content_black;
      margin-top: 52px;
      margin-bottom: 45px;
    }
    .home-intro-desc {
      font-family: "Noto Sans SC";
      font-weight: 100;
      font-size: 16px;
      line-height: 28px;
      color: #181616;
      margin-left: 59px;
      text-align: left;
    }
  }
}

.home-button-left {
  @include primary-button;
  margin-right: 33px;
}
.home-button-right {
  @include secondary-button;
}

.home-play-info-card-wrapper {
  // font-family: Noto Sans SC ;
  // margin: 0 auto;
  // width: 856px;
  // height: 281px;
  // margin-top: 257px;
  // margin-bottom: 226px;
  // display: flex;
  // position: relative;
  display: none;
}
.home-play-info-card-left {
  width: 413px;
  height: 281px;
}
.home-play-info-card-right {
  width: 413px;
  height: 281px;
  margin-left: 30px;
  .home-play-info-card-belong {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #545454;
  }
  .home-play-info-card-title {
    font-family: Noto Serif SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #181616;
    margin-bottom: 22px;
    margin-top: 7px;
  }
  .home-play-info-card-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #181616;
  }
  .home-play-info-button {
    position: absolute;
    bottom: 0;
  }
}

.mailbox-wrapper {
  @media screen and(max-width:636px) {
    display: none;
  }
  font-family: Noto Sans SC;
  background: #f8f6f3;
  border-radius: 0.1875rem;
  width: 636px;
  height: 12.3125rem;
  position: absolute;
  left: 50%;
  transform: translate(-19.875rem, -6.1875rem);
  .mailbox-content-wrapper {
    width: 36.4375rem;
    height: 10.3125rem;
    margin-top: 1rem;
    margin-left: 1.625rem;
    background: white;
    border: 0.0625rem solid $brand-red;
    box-sizing: border-box;
    border-radius: 0.1875rem;
    .mailbox-content {
      margin: 0 1.25rem;
      margin-left: 5.25rem;
      margin-top: 1.25rem;
      .mailbox-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4375rem;
        color: #181616;
      }
      .mailbox-desc {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4375rem;
        color: #545454;
      }
      .mailbox-input {
        width: 18.875rem;
        height: 2.6875rem;
        font-size: 18px;
        color: #BDBDBD;
      }
      .mailbox-button {
        width: 7.125rem;
        height: 2.6875rem;
        margin-left: 1.9375rem;
        font-size: 18px;
        font-weight: 100;
        color: $brand-red;
        border-color: $brand-red;
      }
    }
  }
}

.home-intro-board-wrapper {
  margin: 271px 0;
  display: flex;
  flex-wrap: wrap;
}
