.home-displaybox {
  font-family: 'Noto Serif SC';
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  word-break: normal;
  justify-content: center;
  align-items: center;
  padding-top: 465px;
  padding-bottom: 233px;
}

.home-display-box-img {
  width: 25.8125rem;
  height: 16.375rem;
}

.home-plays-display {
  height: 457px;
  text-align: center;
  background: #fffbf7;
  .home-display-content {
    display: flex;
    width: 1124px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
  }
  .home-plays-display-title {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #545454;
    margin-bottom: 37px;
    // margin-top: 30px;
  }
}
.home-about-display {
  display: flex;
  flex-direction: column;
}
.home-about-card-container {
  // height: 851px;
  width: 1124px;
  margin: 0 auto;
  display: flex;
  // flex-direction: row;
  justify-content: space-evenly;
  // flex-wrap: wrap;
}
.home-content {
  font-family: 'Noto Serif SC';
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
.carousel-left-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.introcard {
  font-family: 'Noto Serif SC';
  position: absolute;
  background: rgba(248, 246, 243, 0.7);
  top: -200px;
  width: 524px;
  height: 404px;
  @media screen and(max-width:530px) {
    display: none;
  }
  .introcard-content {
    background: white;
    opacity: 1;
    border: 1px solid $brand-red;
    box-sizing: border-box;
    width: 448px;
    height: 328px;
    margin: 38px auto;
    text-align: center;
    .home-intro-title {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      color: #181616;
      margin-top: 52px;
      margin-bottom: 45px;
    }
    .home-intro-desc {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #181616;
      margin-left: 59px;
      text-align: left;
    }
  }
}

.home-button-left {
  font-family: 'Noto Serif SC';
  border: 1px solid $brand-red;
  box-sizing: border-box;
  background: $brand-red !important;
  border-radius: 3px;
  width: 114px;
  height: 43px;
  margin-right: 33px;
}
.home-button-right {
  font-family: 'Noto Serif SC';
  border: 1px solid $brand-red;
  box-sizing: border-box;
  border-radius: 3px;
  width: 114px;
  height: 43px;
}

.home-play-info-card-wrapper {
  font-family: 'Noto Serif SC';
  margin: 0 auto;
  width: 856px;
  height: 281px;
  margin-top: 257px;
  margin-bottom: 226px;
  display: flex;
  position: relative;
}
.home-play-info-card-left {
  width: 413px;
  height: 281px;
}
.home-play-info-card-right {
  width: 413px;
  height: 281px;
  margin-left: 30px;
  .home-play-info-card-belong {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #545454;
  }
  .home-play-info-card-title {
    font-family: 'Noto Serif SC';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #181616;
    margin-bottom: 22px;
    margin-top: 7px;
  }
  .home-play-info-card-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #181616;
  }
  .home-play-info-button {
    position: absolute;
    bottom: 0;
  }
}

.mailbox-wrapper {
  font-family: 'Noto Serif SC';
  background: #f8f6f3;
  border-radius: 3px;
  width: 636px;
  height: 197px;
  position: absolute;
  left: 50%;
  transform: translate(-318px, -99px);
  .mailbox-content-wrapper {
    width: 583px;
    height: 165px;
    margin-top: 16px;
    margin-left: 26px;
    background: white;
    border: 1px solid $brand-red;
    box-sizing: border-box;
    border-radius: 3px;
    .mailbox-content {
      margin: 0 20px;
      margin-left: 84px;
      margin-top: 20px;
      .mailbox-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #181616;
      }
      .mailbox-desc {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #181616;
      }
      .mailbox-input {
        width: 302px;
        height: 43px;
      }
      .mailbox-button {
        width: 114px;
        height: 43px;
        margin-left: 31px;
      }
    }
  }
}

.home-intro-board-wrapper {
  display: flex;
  flex-wrap: wrap;
}
