@import "~rfs/scss"; 

.home-displaybox {
  font-family: Noto Serif SC;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  word-break: normal;
  justify-content: center;
  align-items: center;
  padding-top: 465px;
  padding-bottom: 233px;
  @media screen and(max-width:768px) {
    padding-top: 15rem;
  }
  @media screen and(max-width:530px) {
    padding-top: 1.5rem;
  }
}
.bilibili-link {
  justify-content: space-around;
  align-items: left;
  font-family: Noto Sans SC;
  font-weight: 400;
  @include font-size(1rem);
  margin-top: 10px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  color: #000000;
  text-decoration: underline;
  &:hover {
    color: $brand-red;
    text-decoration: underline;
  }
}

#home-rose-video{
  @media screen and (max-width:840px){
    margin-top: 100px;
  }
}

.home-header-trans {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}
.home-display-box-img {
  width: 25.8125rem;
  height: 16.375rem;
}

.home-plays-display {
  height: 457px;
  text-align: center;
  background: #fffbf7;
  .home-display-content {
    width: 1124px;
    margin: 0 auto;
    @include flex(space-between, center, wrap);
  }
  .home-plays-display-title {
    @include text(Noto Sans SC, 500, 16px, 52p23pxx, $content-darkGrey);
    margin-bottom: 37px;
  }
}
.home-about-display {
  display: flex;
  flex-direction: column;
}
.home-about-card-container {
  width: 1124px;
  margin: 0 auto;
  @include flex(space-evenly);
}
.home-content {
  font-family: Noto Serif SC;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}
.inner-content {
  max-width: 1300px;
  margin: 0 auto;
}
.carousel-left-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.introcard {
  font-family: "Noto Serif SC";
  position: absolute;
  background: rgba(248, 246, 243, 0.7);
  top: -200px;
  left: 100px;
  width: 32.75rem;
  height: 25.25rem;
  @media screen and(max-width:530px) {
    display: none;
  }
  .introcard-content {
    background: white;
    opacity: 1;
    border: 1px solid $brand-red;
    box-sizing: border-box;
    width: 28rem;
    height: 20.5rem;
    margin: 38px auto;
    text-align: center;
    .home-intro-title {
      font-style: normal;
      font-weight: 400;
      @include font-size(2.25rem);
      line-height: 52px;
      color: $content_black;
      margin-top: 52px;
      margin-bottom: 45px;
    }
    .home-intro-desc {
      font-family: "Noto Sans SC";
      font-style: normal;
      font-weight: 300;
      @include font-size(1rem);
      line-height: 28px;
      color: $content-black;
      margin-left: 59px;
      text-align: left;
    }
  }
}
.home-button {
  margin-top: 74px;
}
.home-button-left {
  margin-right: 33px;
}


.home-play-info-card-wrapper {
  font-family: Noto Sans SC;
  margin: 0 auto;
  width: 856px;
  height: 281px;
  margin-top: 257px;
  margin-bottom: 226px;
  display: flex;
  position: relative;
  display: none;
}
.home-play-info-card-left {
  width: 413px;
  height: 281px;
}
.home-play-info-card-right {
  width: 413px;
  height: 281px;
  margin-left: 30px;
  .home-play-info-card-belong {
    font-style: normal;
    font-weight: 500;
    @include font-size(1rem);
    line-height: 23px;
    color: $content-darkGrey;
  }
  .home-play-info-card-title {
    @include text(Noto Serif SC, 500, 36px, 52px, $content-black);
    margin-bottom: 22px;
    margin-top: 7px;
  }
  .home-play-info-card-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: $content-black;
  }
  .home-play-info-button {
    position: absolute;
    bottom: 0;
  }
}

.home-intro-board-wrapper {
  margin: 271px 0;
  display: flex;
  flex-wrap: wrap;
}

.home-info-wrapper {
  height: 477px;
  // width: 356px;
  margin-left: 31px;
  .home-info-top {
    @include font-size (2.25rem);
    font-family: Noto Serif SC;
    line-height: 52px;
    color: $content-black;
    margin-top: 98px;
  }
  .home-info-body {
    display: flex;
    align-items: baseline;
  }
  .home-info-desc {
    @include font-size (1.125rem);
    font-family: Noto Sans SC;
    font-weight: 300;
    line-height: 36px;
    color: $content-black;
  }
  .desc-right {
    margin-left: 10px;
  }
  .home-info-number {
    text-align: center;
    @include font-size (2.25rem);
    font-family: Noto Serif SC;
    line-height: 1.1875rem;
    color: $content-black;
    margin: 0 10px;

    @media screen and(max-width:768px) {
      line-height: 1.5rem;
    }

  }
  .home-info-button-right {
    margin-left: 21px;
  }
  
}
