@import "../../styles/mixins";
.past-info-wrapper {
  color: $content-white;
  @include flex('');
}
.past-info-title {
  @include text(Noto Serif SC, 600, 55px, 79px, $content-white);
}
.past-info-left-mid {
  width: 380px;
  @include flex(space-between);
  @include text(Noto Sans SC, 500, 16px, 23px, $content-white);
}
.past-label {
  margin-bottom: 24px;
}
.past-text {
  @include text(Noto Sans SC, 300, 18px, 36px, $theme-yellow);
}
.past-button {
  @include primary-button;
}
