.member-card {
  // height: $member-card-height;
  width: $member-card-width;
  border: 1px solid #fff7ed;
  margin: 0.3rem;
  .content {
    padding-left: $member-card-padding-x;
    font-family: Noto Sans SC;
  }
  .name {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #1f1919;
  }
  .photo {
    display: block;
    width: 80%;
  }
  .title {
    font-family: Noto Sans SC;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .nickName {
    color: #d46201;
  }
  .desc {
    font-family: Noto Serif SC;
    font-size: 10px;
    line-height: 14px;
    font-weight: 300;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

.playCard {
  width: 500px;
  .playCard-belonging {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
  .playCard-title {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
  }
  .playCard-desc {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: "liga" off;
  }
}

.img-card {
  width: 303px;
  height: 254px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .img-card-img {
    width: 100%;
  }
  .img-card-year {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #c62127;
  }
  .img-card-name {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #1f1919;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.interview-container {
  width: 191px;
  height: 283px;
  // display: block;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .interview-image {
    width: 100%;
    // height: 70%;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.introcard {
  position: absolute;
  
  // opacity: 0.7;
  background: rgba(248,246,243,0.7);
  // background: #F8F6F3;
  top: 417px;
  left: 181px;
  width: 524px;
  height: 404px;
  .introcard-content {
    background: white;
    // position: absolute;
    opacity: 1;
    border: 1px solid #c62127;
    box-sizing: border-box;
    width: 448px;
    height: 328px;
    margin: 38px auto;
  }
}
