.member-card {
  font-family: Noto Serif SC;
  cursor: pointer;
  margin: 0 1.4rem;
  height: 22.5rem;
  width: 14rem;
  border: 1px solid #fff7ed;
  margin-bottom: 52px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: left;
  .content {
    margin-left: 24px;
    margin-top: 30px;
    margin-right: 24px;
  }
  .name {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: $content-black;
  }
  .photo {
    display: block;
    width: 203px;
    height: 160px;
    margin-left: 9px;
    margin-top: 18px;
  }
  .title {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .nickName {
    color: #d46201;
  }
  .desc {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $content-black;
  }
  &:hover {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

.playCard {
  max-width: 25.8125rem;
  margin-right: 1.875rem;
  @media screen and(max-width:872px) {
    margin-right: 0;
  }
  .playCard-belonging {
    @include text(Noto Sans SC, 500, 16px, 23px, $content-darkGrey);
  }
  .playCard-title {
    @include text(Noto Serif SC, normal, 36px, 52px, $content-black);
  }
  .playCard-desc {
    @include text(Noto Sans SC, 300, 16px, 28px, $content-black);
  }
}

.img-card {
  cursor: pointer;
  transition: 1s ease;
  font-family: Noto Serif SC;
  width: 303px;
  height: 254px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .img-card-content {
    margin-left: 9px;
    margin-top: 18px;
  }
  .img-card-img {
    width: 204px;
    height: 261px;
  }
  .img-card-year {
    margin-top: 10px;
    @include text(Noto Sans SC, 500, 14px, 24px, $brand-red);
  }
  .img-card-name {
    margin-top: 10px;
    @include text(Noto Sans SC, 300, 16px, 23px, $content-black);
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.interview-container {
  cursor: pointer;
  transition: 1s ease;
  font-family: Noto Serif SC;
  width: 221px;
  height: 239px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .interview-image {
    width: 201px;
    height: 143px;
    margin-left: 10px;
    margin-top: 17px;
  }
  .interview-text {
    margin-left: 10px;
  }
  .interview-type {
    margin-top: 10px;

    @include text(Noto Sans SC, 500, 14px, 24px, $brand-red);
  }
  .interview-title {
    color: $content-black;
    @include text(Noto Sans SC, 300, 16px, 23px, $content-black);
    margin-top: 10px;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
