.member-card {
  // height: $member-card-height;
  height: 360px;
  width: 222px;
  border: 1px solid #fff7ed;
  margin-bottom: 52px;
  margin-right: 47px;
  .content {
    padding-left: $member-card-padding-x;
    font-family: Noto Sans SC;
  }
  .name {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #1f1919;
  }
  .photo {
    display: block;
    width: 80%;
  }
  .title {
    font-family: Noto Sans SC;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .nickName {
    color: #d46201;
  }
  .desc {
    font-family: Noto Serif SC;
    font-size: 10px;
    line-height: 14px;
    font-weight: 300;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

.playCard {
  width: 500px;
  .playCard-belonging {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
  .playCard-title {
    font-family: "Noto Serif SC";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
  }
  .playCard-desc {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: "liga" off;
  }
}

.img-card {
  width: 303px;
  height: 254px;
  // margin: 0 auto;
  // text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .img-card-content {
    margin-left: 9px;
    margin-top: 18px;
  }
  .img-card-img {
    width: 204px;
    height: 261px;
  }
  .img-card-year {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #c62127;
    margin-top: 10px;
  }
  .img-card-name {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    font-feature-settings: "liga" off;
    color: #181616;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.interview-container {
  width: 221px;
  height: 239px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  .interview-image {
    width: 201px;
    height: 143px;
  }
  .interview-text {
    margin-left: 10px;
  }
  .interview-type {
    margin-top: 15px;

    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #c62127;
  }
  .interview-title {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #181616;
  }
  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}
