.ant-menu-horizontal {
  border-bottom: 1px solid transparent;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu-item a:hover {
  color: $brand-red;
  border-bottom: 2px solid $brand-red;
}
.ant-menu-vertical {
  min-width: 110px !important;
}
.header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 1, 1);
  background: transparent;
}
.header-nav-item {
  font-family: Noto Sans SC;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: white;
}

.header-gray {
  background: #3f3f3f;
  color: white;
}
.header-transparent {
  background: transparent;
  color: white;
}
.header-white {
  background: white;
  color: black;
}
.header-nav {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  @media screen and(max-width:800px) {
    display: none;
  }
  .header-nav-item {
    cursor: pointer;
  }
}
.header-logo {
  display: block;
  height: 64px;
  width: 55px;
  margin-left: 70px;
}
