.ant-menu-horizontal{
  border-bottom: 1px solid transparent;
}
.ant-menu-vertical {
  min-width: 110px !important;
}
.header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 1, 1);
  background: #3f3f3f;
  .header-nav-item {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: white;
  }
}
.header-nav {
  list-style: none;
  background: #3f3f3f;
  color: white;
  margin-bottom: 0;
  display: flex;

  justify-content: space-evenly;
  width: 60%;
  @media screen and(max-width:758px) {
    display: none;
  }
  .header-nav-item {
    cursor: pointer;
  }
}
.header-logo {
  display: block;
  height: 64px;
  width: 55px;
  margin-left: 70px;
}