.img {
  width: 100%;
  height: 657px;
}
.home-slide-img {
  width: 100%;
  height: 657px;
  position: relative;
  justify-content: center;
  flex-flow: row;
  align-content: center;
  text-align: center;
}
