.carousel-wrapper {
  overflow: hidden;
  @media screen and(max-width:1140px) {
    display: none;
  }
  width: 1259px;
  height: 625px;
  background: #f8f6f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .carousel-content-wrapper {
    background: #ffffff;
    border: 1px solid $brand-red;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .carousel-content {
      position: relative;
    }
    .carousel-card {
      display: inline-block;
      width: 222px;
      height: 360px;
      margin-right: 37px;
      z-index: 1;
    }
  }
}
.carousel-wrapper-left {
  width: 927px;
  height: 477px;
}
.carousel-content-shader {
  position: absolute;
  right: 0;
  height: 100%;
  width: 222px;
  opacity: 0.4;
  background: whitesmoke;
  z-index: 2;
  filter: blur(10px);
}
.carousel-content-top {
  display: flex;
  width: 1000px;
  transform: translate(52px);
  justify-content: space-between;
}
.carousel-content-top-left {
  display: flex;
  width: 700px;
  transform: translate(100px);
  justify-content: space-between;
}
.carousel-content-text {
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: $content-darkGrey;
}
.carousel-arrow-right {
  margin-left: 66px;
}
.carousel-arrow {
  cursor: pointer;
}

.carousel-content-shader-left {
  left: 0;
}
.carousel-content-wrapper-left {
  width: 895px;
  height: 404px;
  transform: translate(-39px);
}
.carousel-content-wrapper-right {
  width: 1243px;
  height: 529px;
  transform: translate(58px);
}
.carousel-content-right {
  transform: translate(52px);
}
.carousel-content-left {
  transform: translate(-410px);
}

.home-carousel-interview-card {
  display: inline-block;
  margin-left: 30px;
}
