.footer {
  height: 441px;
  background: #181616;
  display: flex;
  justify-content: space-around;
  align-items: left;
  font-family: Noto Sans SC;
  .list-wrapper{
    margin-top: 150px;
    color: white;
  }
  .footer-list-title{ 
    text-align: left;
    color: #DADADA;  
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
  }
  .footer-list-member {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-family: Noto Sans SC;
  }
  .footer-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
  }
}
