.footer {
  height: 441px;
  background: $content-black;
  display: flex;
  justify-content: space-around;
  align-items: left;
  font-family: Noto Sans SC;
  .list-wrapper{
    margin-top: 150px;
    color: white;
  }
  .footer-list-title{ 
    text-align: left;  
    font-style: bold;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 27px;
  }
  .footer-list-member {
    color: white;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    font-family: Noto Sans SC;
  }
  .footer-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
  }
}

.footer-link{
  color: white;
  &:hover{
    color: $brand-red;
  }
}